In [15]:
ls

data.ipynb                 script.js
mental_health_summary.csv

In [16]:
import pandas as pd

In [17]:
data = pd.read_csv("mental_health_summary.csv")

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4509 entries, 0 to 4508
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GENDER_LABEL   4509 non-null   object
 1   EDUC_LEVEL     4509 non-null   object
 2   AGE_GROUP      4509 non-null   object
 3   MARSTAT_LABEL  4509 non-null   object
 4   MH1_LABEL      4509 non-null   object
 5   count          4509 non-null   int64
 6   percentage     4509 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 246.7+ KB

In [19]:
data.head()

,GENDER_LABEL,EDUC_LEVEL,AGE_GROUP,MARSTAT_LABEL,MH1_LABEL,count,percentage
0,Female,0 to 8 year,20s,"Divorced, widowed",Alcohol or substance use disorders,9,0.618982
1,Female,0 to 8 year,20s,"Divorced, widowed",Anxiety disorders,19,0.131889
2,Female,0 to 8 year,20s,"Divorced, widowed",Bipolar disorders,34,0.377442
3,Female,0 to 8 year,20s,"Divorced, widowed",Delirium/dementia disorders,1,0.255102
4,Female,0 to 8 year,20s,"Divorced, widowed",Depressive disorders,61,0.236801

In [14]:
print(data['EDUC_LEVEL'].value_counts())

EDUC_LEVEL
12 (or GED) year     865
unknown/invalid      858
More than 12 year    815
9 to 11 year         785
0 to 8 year          709
Special education    477
Name: count, dtype: int64

In [22]:
education_map = {
    "0 to 8 year": "Middle School or below",
    "9 to 11 year": "Some High School",
    "12 (or GED) year": "High School Graduate",
    "More than 12 year": "College or higher",
    "Special education": "Special Education",
    "unknown/invalid": "Unknown"
}

# Apply the mapping
data['EDUC_LEVEL'] = data['EDUC_LEVEL'].str.strip().map(education_map)

In [23]:
print(data['EDUC_LEVEL'].value_counts())

EDUC_LEVEL
High School Graduate      865
Unknown                   858
College or higher         815
Some High School          785
Middle School or below    709
Special Education         477
Name: count, dtype: int64

In [25]:
data.to_csv("mental_health_summary.csv", index=False)